{% extends 'index.html' %}

{% macro render_film_torrent(film) %}

	<article>
		<span class="index">{{ film["index"] }}</span>
		<span class="rating{{ ' big-rating' if film['rating']|float < -6.5 or film['rating']|float > 6.5 else '' }}">
		{% if film['rating'] == 0.0 %}
			n/a
		{% elif film['rating'] < 0.0 %}
			{{ film["rating"] * -1.0 }}*M
		{% else %}
			{{ film["rating"] }}
		{% endif %}
		</span>
		<span class="title">{{ film["title"] }}</span>
		<span class="year">{{ film["year"] }}</span>
		<span><a class="link1" href="{{ film['url_imbd'] }}" target="_blank">IMBD</a></span>
		<span><a class="link2" href="https://rojotorrent.com{{ film['url_rojo'] }}" target="_blank">TORRENT</a></span>
		<span><a class="link3" href="{{ film['url_filma'] }}" target="_blank">FILMAFFINITY</a></span>
	</article>

{% endmacro %}

{% macro render_serie_torrent(serie) %}

	<article>
		<span class="index">{{ serie["index"] }}</span>
		<span class="rating">Chapters:{{ serie["chapters"] }}</span>
		<span class="title">{{ serie["title"] }}</span>
		<span><a href="{{ serie['url_rojo'] }}" target="_blank">TORRENT</a></span>
		<span><a href="{{ serie['url_filma'] }}" target="_blank">FILMAFFINITY</a></span>
	</article>

{% endmacro %}

{% macro render_menu_torrent() %}

	<div class="edit">
		<form method="dialog" id="form-login">
			<header><h3>Configurar cartelera</h3></header>
			<article class="edit" id="billboard-menu">
				<div class="row">
					<label for="last_torrent"><span>Último torrent</span>
						<input type="text" name="last_torrent" id="last_torrent" placeholder="{{ response[1] }}">
						<input type="text" name="last_date" id="last_date" maxlength="12" value="{{ response[2] }}">
					</label>
					<label for="npseries" class="row"><span>Número de páginas de series</span>
						<input type="number" class="noborder" id="vserie" placeholder="1" value="{{ response[3] }}" disabled="">
					</label>
					<input type="range" id="range" name="npseries" size="2" step="1" value="{{ response[3] }}" min="0" max="10" oninput="vserie.value=value">
				</div>
			</article>
			<footer>
				<menu>
					<!-- Animación de carga (inicialmente oculta) -->
					<div id="loading" style="visibility: hidden;"></div>
					<button class="btn btn-primary-outline" data-csrf-token-form="{{ session['csrf_token_form'] }}" data-action="save-billboard">Guardar</button>
					<button class="btn btn-primary" data-csrf-token-form="{{ session['csrf_token_form'] }}" data-action="search-billboard">Buscar</button>
				</menu>
			</footer>
		</form>
	</div>
	<span><a class="btn btn-danger-link" href="https://rojotorrent.com/descargar-peliculas" target="_blank">Torrents</a></span>

{% endmacro %}

{% block content %}

	{% if response[0] is not none %}
		{% if response[0] is not none and response[0]|length > 1%}
		<section id="films-torrent">
			<h2>Películas Disponibles para descargar</h2>
			{% for movie in response[0] %}
				{{ render_film_torrent(movie) }}
			{% endfor %}
		</section>
		{% endif %}
		{% if response[1] is not none and response[1]|length > 1%}
		<section id="series-torrent">
			<h2>Series disponibles para descargar</h2>
			{% for serie in response[1] %}
				{{ render_serie_torrent(serie) }}
			{% endfor %}
		</section>
    	{% endif %}
		<span><a class="btn btn-primary-link" href="/menu/torrent/9999">Configuración</a></span>
	{% else %}
			{{ render_menu_torrent() }}
	{% endif %}

{% endblock %}
