# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# C extensions
*.so

# Ignorar carpetas
docker/
data/
docs/
*.db

# Ignorar backups
**/backups/*

# Ignorar archivos de logs
**/debug
*.log

# Ignorar carpeta Visual Studio Code
.vscode

# Ignorar bancos de imagenes
filmoteca/www/images/**/*.png
filmoteca/www/images/**/*.jpg


