__pycache__/
.DS_Store
.eggs/
.env
.env.*
.env.development.local
.env.local
.env.production.local
.env.test.local
.env/
.history/
.idea/
.pnpm-debug.log*
.Python
.trash
.venv
.venv/
.venv/**
.vscode
.vscode/
*.db
*.egg
*.egg-info/
*.iml
*.log
*.log
*.py[cod]
*.py[cod]
*.pyd
*.pyo
*.so
*.sqlite3
**/__pycache__/
**/*.css.map
**/*.min.css
**/*.py[cod]
**/*.tsbuildinfo
**/*cmp.jpg
**/*cmp.png
**/backups/*
**/build/
**/debug
**/dist/
**/node_modules/
**/todep.txt
*$py.class
build/
develop-eggs/
dist/
docs/HELP.md
docs/TODO.md
eggs/
env.bak/
env/
ENV/
lib/
lib64/
MANIFEST
npm-debug.log*
parts/
sdist/
Thumbs.db
var/
venv.bak/
venv/
web/assets/**/*.jpg
web/assets/**/*.png
data/
wheels/
yarn-debug.log*
yarn-error.log*
