# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# C extensions
*.so

# Ignorar backups
**/backups/*

# Ignorar archivos de logs
**/debug
*.log
**/todep.txt

# Ignorar carpeta Visual Studio Code
.vscode
.trash

# Ignorar bancos de imagenes
web/assets/**/*.png
web/assets/**/*.jpg
**/*cmp.png
**/*cmp.jpg

docs/HELP.md
docs/TODO.md

web/frontend/public/assets/covers/