

<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="../static/img/favicon.png">
        <meta charset="utf-8"/>
        
        <title>Información De Géneros</title>
        
        <meta name="title" content="Gestor de Películas">
        <meta name="description" content="Web para gestionar las películas">     
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="css/flags.css">
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>

    <body>
      

        <!-- Bloque principal -->


    <section class="item-list card-genre">
        
        <a href="/view/1">
            <img src="img/1.jpg" loading="lazy">
            <strong class="grid-two-cols">ACCIÓN</strong>
            <div class="card-genre-right">
                <span><b>33</b> Películas</span>
                <span>Tamaño Global <b>59.35 GB</b></span>
                <span><b>3Días, 3hr, 2min,</b></span>
            </div>
        </a> 
        
        <a href="/view/4">
            <img src="img/1.jpg" loading="lazy">
            <strong class="grid-two-cols">Animación</strong>
            <div class="card-genre-right">
                <span><b>53</b> Películas</span>
                <span>Tamaño Global <b>75.98 GB</b></span>
                <span>4Días, 18hr, 46min, 47seg</b></span>
            </div>
        </a> 
        
        <a href="/view/6">
            <img src="img/1.jpg" loading="lazy">
            <strong class="grid-two-cols">Anime</strong>
            <div class="card-genre-right">
                <span><b>49</b> Películas</span>
                <span>Tamaño Global <b>58.83 GB</b></span>
                <span>7Días, 11hr, 50min, 39seg</b></span>
            </div>
        </a> 
       </section>
        <h3 class="head-result">SUBGENEROS</h3>

        <section class="item-list card-genre card-subgenre">
            
            <a href="/view/39">
                <img src="img/1.jpg" loading="lazy">
                <strong class="grid-two-cols">Kagemusha, La Sombra Del Guerrero</strong>
                <div class="card-genre-right">
                    <span><b>2</b> Películas</span>
                    <span>Tamaño Global <b>1.37 GB</b></span>
                    <span>2hr, 32min, 41seg</b></span>
                </div>
            </a> 
            
            <a href="/view/31">
                <img src="img/1.jpg" loading="lazy">
                <strong class="grid-two-cols">Los Chicos Del Maíz</strong>
                <div class="card-genre-right">
                    <span><b>0</b> Películas</span>
                    <span>Tamaño Global <b>None</b></span>
                    <span>None</b></span>
                </div>
            </a> 
            
   
    </section>
    

            <div id="message-container">
    
        
             
</div>  
        </section>

        <noscript>
            <div class="noscript-warning">
                Javascript está deshabilitado en su navegador web.<br>
                Por favor, para ver correctamente este sitio, <b><i>habilite javascript</i></b>.
            </div>
        </noscript>
        <footer id="footer-bottom"></footer>
    </body>
</html>
