

<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="../static/img/favicon.png">
        <meta charset="utf-8"/>
        
        <title>Información Global</title>
        
        <meta name="title" content="Gestor de Películas">
        <meta name="description" content="Web para gestionar las películas">     
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="css/flags.css">
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>

    <body>
        <!-- Bloque principal -->
        <section class="container-global-data">
            
        
            <div>
                <!-- Último reporte HD0-Interno -->
                <span>Reporte <strong>HD0-Interno</strong> </span>
                <strong>2022-08-23 14:06:47</strong>
                <span><b>709</b> Películas</span>
                <span><a href="/view/0"><b>0</b></a> Nuevas</span>
                <span><b>57</b> Géneros</span>
                <span><b>604</b> Archivos</span>
                <span><span>Tamaño Global </span><b>1.15 TB</b></span>
                <strong class="grid-two-cols">2Meses, 13Días, 14hr, 25min, 16seg</strong>
                <strong class="grid-two-cols">txt(2), avi(563), mkv(23), mpg(5), mp4(9), ini(1), ico(1)</strong>
            </div>

            <div>
                <!-- Último reporte HDD1-Externo -->
                <label><b>Reporte</b><span>2022-08-23 14:06:29</span></label>
                <label><b>HDD</b><span>Externo (1)</span></label>
                <label><b>Películas</b><span>537</span></label>
                <label><b>Nuevas</b><a href="/view/0">0</a></label>
                <label><b>Géneros</b><span>57</span></label>
                <label><b>Archivos</b><span>519</span></label>
                <label><b>Tamaño Global</b><span>684.58 GB</span></label>
                <label><b>Duración Gloabl</b><span>1Meses, 9Días, 15hr, 14min, 16seg</span></label>
                <label><b>Extensiones</b><span>txt(2), avi(500), mkv(6), mpg(3), mp4(6), ini(1), ico(1)</span></label>
            </div>

            <table>
                <caption><b>Listado de reportes</b></caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>HDD</th>
                        <th>Películas</th>
                        <th>Géneros</th>
                        <th>Archivos</th>
                        <th>Tamaño</th>
                        <th>Duración</th>
                        <th>Recientes</th>
                        <th>Parada</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr id="report-tr-24">
                        <td>24</td>
                        <td>2022-08-23 14:06:47</td>
                        <td>0</td>
                        <td>709</td>
                        <td>57</td>
                        <td>604</td>
                        <td>1.15 TB</td>
                        <td>6272716</td>
                        <td>0</td>
                        <td>0</td>
                        <td><button class="btn btn-danger-outline" data-id-report="24" data-date-report="2022-08-23 14:06:47" data-csrf-token-form="6zjmofh65tQm1iFHhYR5_qTewSR8S96jB2cVill0iMs">Eliminar</button></td>
                    </tr>
                
                    <tr id="report-tr-22">
                        <td>22</td>
                        <td>2022-08-23 11:01:13</td>
                        <td>0</td>
                        <td>771</td>
                        <td>57</td>
                        <td>439</td>
                        <td>1.26 TB</td>
                        <td>6784493</td>
                        <td>17</td>
                        <td>0</td>
                        <td><button class="btn btn-danger-outline" data-id-report="22" data-date-report="2022-08-23 11:01:13" data-csrf-token-form="6zjmofh65tQm1iFHhYR5_qTewSR8S96jB2cVill0iMs">Eliminar</button></td>
                    </tr>
                
                    <tr id="report-tr-21">
                        <td>21</td>
                        <td>2022-07-20 13:19:58</td>
                        <td>0</td>
                        <td>1003</td>
                        <td>57</td>
                        <td>415</td>
                        <td>1.51 TB</td>
                        <td>8166703</td>
                        <td>10</td>
                        <td>0</td>
                        <td><button class="btn btn-danger-outline" data-id-report="21" data-date-report="2022-07-20 13:19:58" data-csrf-token-form="6zjmofh65tQm1iFHhYR5_qTewSR8S96jB2cVill0iMs">Eliminar</button></td>
                    </tr>
                
                    <tr id="report-tr-20">
                        <td>20</td>
                        <td>2022-05-31 16:55:25</td>
                        <td>0</td>
                        <td>1216</td>
                        <td>57</td>
                        <td>4</td>
                        <td>1.77 TB</td>
                        <td>9488316</td>
                        <td>0</td>
                        <td>0</td>
                        <td><button class="btn btn-danger-outline" data-id-report="20" data-date-report="2022-05-31 16:55:25" data-csrf-token-form="6zjmofh65tQm1iFHhYR5_qTewSR8S96jB2cVill0iMs">Eliminar</button></td>
                    </tr>
                
                </tbody>
            </table>
</section>
   
    

            <div id="message-container">
    
        
             
</div>  
        </section>

        <noscript>
            <div class="noscript-warning">
                Javascript está deshabilitado en su navegador web.<br>
                Por favor, para ver correctamente este sitio, <b><i>habilite javascript</i></b>.
            </div>
        </noscript>
        <footer id="footer-bottom"></footer>
    </body>
</html>
